/* Trust part */
.trust-section {
	padding: 77px 289px 80px;
}
.trust-name {
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 0%;
	color: #000;
	text-align: center;
	display: block;
	margin-bottom: 45px;
}
.image-wrapper {
	display: flex;
	gap: 100px;
	justify-content: center;
}
/* Trust part */
